{% extends 'base/base.html' %}

{% block content %}

	<div class="heading">
		<div class="sub-heading">
		</div>
	</div>

	<div class="sub-heading">
		<h2>
			<a href="{% url 'produce:written' %}">< </a>abbreviations of you
		</h2>
	</div>

	<div class="info" style="padding-top: 50px;">
		{% load static %}		
		<img class="info_img" src="{% static 'produce/pome_21.jpg' %}" >	
	</div>

	<!-- if you're reading this then you should know you are (1) thorough and (2) loved by me, a lot. -z -->

	<div class="info" style="padding-top: 50px;">
		<div class="info_text">
			<p>
				You asking me if I'm looking at you
			</p>
			<p>
				Water rings kissed into worn wood<br>
				The snugness of nocturnal silence<br>
				Language pressing tongue to language<br>
				Tropical-flavored joy and depression<br>
				The iris, the blind spot, tapeta lucida<br>
				Tears steeping a knit cotton tee<br>
				Botanical surfactants in plastic bottles<br>
				Dermal emollients and audible sleep-talk<br>
				Hypnagogial enknotting of arms and lips<br>
				Calendrical sprains and complex fractures<br>
				Hairballs and clumpy calcareous litter<br>
				Meaningful plates of thinly sliced fruit<br>
				The metallicity of standard encryption<br>
				The pain of splitting a childhood wound<br>
				Beauty, unconsciousness, coffee and Carmex<br>
				Interlocking endothermic ghost-love<br>
				Apricot juice and fine rare cheeses<br>
				Misplaced keys and morning breath<br>
				The sound of an email, of you breathing<br>
				The smell of nonrecognition softening<br>
				Fogged mirror cellphone digital hotness<br>
				The careless courage of a freefalling cat<br>
				A dark and featureless cast-iron skillet<br>
				Autonomic trembling epinephrine rush<br>
				The slim width of anticipatory hovering<br>
				Tachycardiac arterial pulsations<br>
				Sharing exactly one breath<br>
				Bitstrings and hashmaps and dense dashboards<br>
				Reheated leftovers and fig preserves<br>
				Layered flannel and green American Spirits<br>
				The liniment heat of wordlessness-ness<br>
				Auric charms and black leather pants<br>
				Primetime television slackjaw comfort<br>
				The making of biscuits<br>
				Wingtips and pomade<br>
				Gasoline bench-seat rose-garden scent<br>
				Untying the ropes binding a scapula<br>
				The protraction of thermal equilibration<br>
				The whine and skitter of a hot shower's jet<br>
				Temporarily incapacitating overwhelmedness<br>
				Sweet charcoal hippie toothpaste<br>
				Thumbprint on a freckle<br>
				Hand-sharpened finger-nails<br>
				Goosebumps and earlobes<br>
				Ashes to ashes, dust to dust<br>
				The tensile strength of wanting someone<br>
				Filtered water and glazed stoneware<br>
				The plaintive cry of an animal<br>
				Nacreous trelliswork on a slice of citrus<br>
				All of the wind pressed out of a sternum<br>
				The maroon blanket and the blue blanket<br>
				Heartsink and heartgloom<br>
				Tongueswallow and the philtrum's bow<br>
				Bruiselove and bloodflow<br>
				Close-napped fuzz on a slow warm nape<br>
				Tasseography and haruspication<br>
				The rein of a wimpling wing<br>
				Painfully pulchritudinous eyelight<br>
				Hyperhyperventilation<br>
				Unattended guttering soy-wax candles<br>
				The long clean ache of two perihelia<br>
				Butane bubbles and fire's puberty<br>
				The immaculate mystery of Sumatriptan<br>
				A collapsed curl of vertebral knuckles
			</p>
				A whole acre of involuntary mirth
			<p>
			</p>
			<p style="padding-top: 30px;">
				<span>
				(written dec. 23, 2021. happy birthday, secret-knower—know me for a few more perihelia at least? ☽︎)
				</span>
			</p>
		</div>
	</div>

	<div class="nav">
		<a href="{% url 'produce:written' %}">back</a>
	</div>

{% endblock %}