{% extends 'base/base.html' %}

{% block content %}

			<div class="heading">
				<div class="sub-heading">
				</div>
			</div>

			<div class="sub-heading">
				<h2>
					<a href="{% url 'base:index' %}">< </a>work
				</h2>
			</div>

			<div class="info">
				<li>
					<a href="https://scholar.google.com/citations?user=W8_-cSoAAAAJ&hl=en" target="_blank">see all research ></a>
				</li>

				<li class="indented"> 
					<div class="info_text">
						<span class="float_title">
							the link above is to google scholar.
						</span>
					<br>
						<a href="http://web.mit.edu/~cua/www/quanta/" target="_blank">
							the research group i work with has its own site with further information.
						</a>
					</div>
					<div class="info_text_dark">
						(eventually i will provide links to written expositions of research problems.)
					</div>
				</li>

				<li>
					<a href="{% url 'produce:written' %}">see all fiction ></a>
				</li>

				{% if recent_written %}
				<li class="indented"> 
					<div class="info_text">
						<a class="float_title" href="{% url 'produce:written_individual' recent_written.0.pk %}">
							{{ recent_written.0.title }}
						</a>
					<br>
						<a href="{% url 'produce:written_individual' recent_written.0.pk %}">
							{{ recent_written.0.description }}
						</a>
					</div>
					<div class="info_text_dark">
						({{ recent_written.0.pub_date|date:"m/d/y" }}: most recent)
					</div>
				</li>
				{% else %}
				<li class="indented">
					There is nothing here.
				</li>
				{% endif %}
				<li>
					<a href="{% url 'produce:visual' %}">see all visual art ></a>
				</li>

				{% if recent_visual %}
				<li class="indented"> 
					<div class="info_text">
						<a class="float_title" href="{% url 'produce:visual_individual' recent_visual.0.pk %}">
							{{ recent_visual.0.title }}
						</a>
					<br>
						<a href="{% url 'produce:visual_individual' recent_visual.0.pk %}">
							{{ recent_visual.0.description }}
						</a>
					</div>
					<div class="info_text_dark">
						({{ recent_visual.0.pub_date|date:"m/d/y" }}: most recent)
					</div>
				</li>
				{% else %}
				<li class="indented">
					there is nothing here.
				</li>
				{% endif %}
				
			</div>

			<div class="nav">
				<a href="{% url 'base:index' %}">back</a>
			</div>
			<div class="footer">
				zane marius rossi 2016
			</div>

{% endblock %}