{% extends 'base/base.html' %}

{% block content %}

			<div class="heading">
				<div class="sub-heading">
				</div>
			</div>

			<div class="sub-heading">
				<h2>
					<a href="{% url 'base:index' %}">< </a>work
				</h2>
			</div>

			<div class="info">
				<li>
					<a href="https://scholar.google.com/citations?user=W8_-cSoAAAAJ&hl=en" target="_blank"> all research ></a>
				</li>

				<li class="indented"> 
					<div class="info_text">
						this leads to <a href="https://scholar.google.com/citations?user=W8_-cSoAAAAJ&hl=en" target="_blank">google scholar</a>; see also the <a href="{% url 'status:index' %}">notes</a> subsection.
					</div>
				</li>

				<li>
					<a href="{% url 'produce:written' %}"> all fiction ></a>
				</li>

				{% if recent_written %}
				<li class="indented"> 
					<div class="info_text">
						<a class="float_title" href="{% url 'produce:written_individual' recent_written.0.pk %}">
							{{ recent_written.0.title }}
						</a>
					<br>
						<a href="{% url 'produce:written_individual' recent_written.0.pk %}">
							{{ recent_written.0.description }}
							<br>
							posted: {{ recent_written.0.pub_date|date:"m/d/y" }}
						</a>
					</div>
				</li>
				{% else %}
				<li class="indented">
					There is nothing here.
				</li>
				{% endif %}
				
			</div>

			<div class="nav">
				<a href="{% url 'base:index' %}">back</a>
			</div>

{% endblock %}