{% extends 'base/base.html' %}

{% block content %}

			<div class="heading">
				<div class="sub-heading">
				</div>
			</div>

			<div class="sub-heading">
				<h2>
					<a href="{% url 'produce:visual' %}">< </a>{{ visual_object.title }}
				</h2>
			</div>

			<div class="sub-heading">
				<div class="info">
					This is the visual individual {{ visual_object.pk }}.
				</div>
			</div>

			<div class="nav">
				<a href="{% url 'produce:visual' %}">back</a>
			</div>
			<div class="footer">
				zane marius rossi 2016
			</div>

{% endblock %}