{% extends 'base/base.html' %}

{% block content %}

			<div class="heading">
				<div class="sub-heading">
				</div>
			</div>

			<div class="sub-heading">
				<h2>
					<a href="{% url 'base:index' %}">< </a>updates
				</h2>
			</div>

			<div class="sub-heading">
				<h2>
					<div class="arrow_nav">
					{% if recent_status.has_previous and not recent_status.has_next%}
						<div class="arrow_nav_l">
							<a href="?page=1"><<  </a>
							<a href="?page={{ recent_status.previous_page_number }}">< </a>
						</div>
						<div class="arrow_nav_r">
							<a href="#"> ></a>
							<a href="#"> >></a>
						</div>
						<div style="clear: both;"></div>
					{% endif %}

					{% if recent_status.has_next and not recent_status.has_previous %}
						<div class="arrow_nav_l">
							<a href="#"><< </a>
							<a href="#">< </a>
						</div>
						<div class="arrow_nav_r">
							<a href="?page={{ recent_status.next_page_number }}"> ></a>
							<a href="?page={{ recent_status.paginator.num_pages }}"> >></a>
						</div>
						<div style="clear: both;"></div>
					{% endif %}

					{% if recent_status.has_next and recent_status.has_previous %}
						<div class="arrow_nav_l">
							<a href="?page=1"><< </a>
							<a href="?page={{ recent_status.previous_page_number }}">< </a>
						</div>
						<div class="arrow_nav_r">
							<a href="?page={{ recent_status.next_page_number }}"> ></a>
							<a href="?page={{ recent_status.paginator.num_pages }}"> >></a>
						</div>
						<div style="clear: both;"></div>
					{% endif %}
					</div>
				</h2>
			</div>

			<div class="info">
				{% if recent_status %}
					{% for status in recent_status %}
						<div class="float_text">
							<li>
								<span class="float_title">
									<a href="{% url 'status:individual' status.id %}">
										{{ status.status_title }}
									</a>
								</span>
								<br>
								<span>
									<!-- can also supply abbreviated text for display (passed in view) -->
									<!-- i.e., a conditional for if the entire text is displayed or no -->
									<a href="{% url 'status:individual' status.id %}">
										{{ status.description }}
									</a>
								</span>
							</li>
						</div>
						<div class="float_date">
							{{ status.pub_date|date:"m/d/y (H:s)" }}
						</div>
					{% endfor %}
					<div style="clear: both;"></div>
				{% else %}
					<!-- edge case -->
					<p>No updates are available.</p>
				{% endif %}
			</div>

			<div class="sub-heading">
				<h2>
					<div class="arrow_nav">
					{% if recent_status.has_previous and not recent_status.has_next%}
						<div class="arrow_nav_l">
							<a href="?page=1"><<  </a>
							<a href="?page={{ recent_status.previous_page_number }}">< </a>
						</div>
						<div class="arrow_nav_r">
							<a href="#"> ></a>
							<a href="#"> >></a>
						</div>
						<div style="clear: both;"></div>
					{% endif %}

					{% if recent_status.has_next and not recent_status.has_previous %}
						<div class="arrow_nav_l">
							<a href="#"><< </a>
							<a href="#">< </a>
						</div>
						<div class="arrow_nav_r">
							<a href="?page={{ recent_status.next_page_number }}"> ></a>
							<a href="?page={{ recent_status.paginator.num_pages }}"> >></a>
						</div>
						<div style="clear: both;"></div>
					{% endif %}

					{% if recent_status.has_next and recent_status.has_previous %}
						<div class="arrow_nav_l">
							<a href="?page=1"><< </a>
							<a href="?page={{ recent_status.previous_page_number }}">< </a>
						</div>
						<div class="arrow_nav_r">
							<a href="?page={{ recent_status.next_page_number }}"> ></a>
							<a href="?page={{ recent_status.paginator.num_pages }}"> >></a>
						</div>
						<div style="clear: both;"></div>
					{% endif %}
					</div>
				</h2>
			</div>

			<div class="nav">
				<a href="{% url 'base:index' %}">back</a>
				<span class="page_num">
					({{ recent_status.number }}/{{ recent_status.paginator.num_pages }})
				</span>
			</div>
			<div class="footer">
				zane marius rossi 2016
			</div>

{% endblock %}