{% extends 'base/base.html' %}

{% block content %}

			<div class="heading">
				<div class="sub-heading">
				</div>
			</div>

			<div class="sub-heading">
				<h2>
					<a href="{% url 'base:index' %}">< </a>notes
				</h2>
			</div>

			{% if recent_status.number == 1 %}
				<div class="sub-heading">
					<div class="info">
						<p>this is a series of notes, split between <span class="n_status">neutral</span> topics, <span class="l_status">literature</span> & media, and short <span class="t_status">technical</span> expositions.</p>
					</div>
				</div>
			{% endif %}

			<div class="sub-heading">
				<h2>
					<div class="arrow_nav">
					{% if recent_status.has_previous and not recent_status.has_next%}
						<div class="arrow_nav_l">
							<a href="?page=1"><<  </a>
							<a href="?page={{ recent_status.previous_page_number }}">< </a>
						</div>
						<div class="arrow_nav_r">
							<a href=""> ></a>
							<a href=""> >></a>
						</div>
						<div style="clear: both;"></div>
					{% endif %}

					{% if recent_status.has_next and not recent_status.has_previous %}
						<div class="arrow_nav_l">
							<a href=""><< </a>
							<a href="">< </a>
						</div>
						<div class="arrow_nav_r">
							<a href="?page={{ recent_status.next_page_number }}"> ></a>
							<a href="?page={{ recent_status.paginator.num_pages }}"> >></a>
						</div>
						<div style="clear: both;"></div>
					{% endif %}

					{% if recent_status.has_next and recent_status.has_previous %}
						<div class="arrow_nav_l">
							<a href="?page=1"><< </a>
							<a href="?page={{ recent_status.previous_page_number }}">< </a>
						</div>
						<div class="arrow_nav_r">
							<a href="?page={{ recent_status.next_page_number }}"> ></a>
							<a href="?page={{ recent_status.paginator.num_pages }}"> >></a>
						</div>
						<div style="clear: both;"></div>
					{% endif %}
					</div>
				</h2>
			</div>

			<div class="info">
				{% if recent_status %}
					{% for status in recent_status %}
						<div class="float_text">
							<li>
								<span class="float_title">
									<a href="{% url 'status:individual' status.id %}">
										{{ status.status_title }}
									</a>
								</span>
								<br>
								<span>
									<a href="{% url 'status:individual' status.id %}" class="{% if status.status_type == 'L' %}l_status{% elif status.status_type == 'T' %}t_status{% else %}n_status{% endif %}">
										{{ status.description }}
									</a>
								</span>
							</li>
						</div>
						<div class="float_date">
							{{ status.pub_date|date:"m/d/y" }}
						</div>
					{% endfor %}
					<div style="clear: both;"></div>
				{% else %}
					<!-- edge case -->
					<p>No notes are available.</p>
				{% endif %}
			</div>

			<div class="sub-heading">
				<h2>
					<div class="arrow_nav">
					{% if recent_status.has_previous and not recent_status.has_next%}
						<div class="arrow_nav_l">
							<a href="?page=1"><<  </a>
							<a href="?page={{ recent_status.previous_page_number }}">< </a>
						</div>
						<div class="arrow_nav_r">
							<a href="#"> ></a>
							<a href="#"> >></a>
						</div>
						<div style="clear: both;"></div>
					{% endif %}

					{% if recent_status.has_next and not recent_status.has_previous %}
						<div class="arrow_nav_l">
							<a href=""><< </a>
							<a href="">< </a>
						</div>
						<div class="arrow_nav_r">
							<a href="?page={{ recent_status.next_page_number }}"> ></a>
							<a href="?page={{ recent_status.paginator.num_pages }}"> >></a>
						</div>
						<div style="clear: both;"></div>
					{% endif %}

					{% if recent_status.has_next and recent_status.has_previous %}
						<div class="arrow_nav_l">
							<a href="?page=1"><< </a>
							<a href="?page={{ recent_status.previous_page_number }}">< </a>
						</div>
						<div class="arrow_nav_r">
							<a href="?page={{ recent_status.next_page_number }}"> ></a>
							<a href="?page={{ recent_status.paginator.num_pages }}"> >></a>
						</div>
						<div style="clear: both;"></div>
					{% endif %}
					</div>
				</h2>
			</div>

			<div class="nav">
				<a href="{% url 'base:index' %}">back</a>
				<span class="page_num">
					page {{ recent_status.number }} of {{ recent_status.paginator.num_pages }}
				</span>
			</div>

{% endblock %}