{% extends 'base/base.html' %}

{% block content %}

	<div class="heading">
		<div class="sub-heading">
		</div>
	</div>

	{% if status %}
		<div class="sub-heading">
			<!-- this redirects you to first page of statuses by default -->
			<h2>
				<a href="{% url 'status:index' %}">< </a>{{ status.status_title }}
			</h2>
		</div>
		<div class="info">
			<div class="info_date">
				{{ status.pub_date|date:"m/d/y (H:s)" }}
			</div>
			<!-- use of a span around the text will permit mouseover change -->
			<div class="info_text">
				{{ status.status_text|safe }}
			</div>
		</div>
	{% else %}
		<div class="info">
			<p>No status is available.</p>	
		</div>
	{% endif %}

	<div class="citations">
	{% if cited_works %}
		{% for elem in cited_works %}
			<span class="info_text">
				<a href="{% url 'library:individual' elem.pk %}">{{ elem.title }} – {{ elem.author }}</a>
			</span>
			<br>
		{% endfor %}
	{% else %}
		<span class="info_text">
			No citations.
		</span>	
	{% endif %}
	</div>
	
	<div class="nav">
		<a href="{% url 'status:index' %}">back</a>
	</div>

	<div class="footer">
		zane marius rossi 2016
	</div>

{% endblock %}