{% extends 'base/base.html' %}

{% block content %}
	<div class="heading">
		<h2><a href="{% url 'base:index' %}">< </a>about</h2>
	</div>
	<div class="info">
		<p>
			Student. 23. Previously at the University of Chicago. Currently studying quantum information and cryptography at MIT.
		</p>
		<p>
			While you can access my technical research on this site, its purpose is to host my writing projects.
		</p>
		<p>
			<a href="{% url 'base:contact' %}">
				<em>Further contact information here.</em>
			</a>
		</p>
		<p>
			Current attempts to express grief in literature are underpowered. This grief
			can be for anything—people we've known, things we think we
			remember but fear we don't, a story's original language, 
			the way someone used to act around us, &c.
		</p>
		<p>
			Below is an excerpt I like.
		</p>
		<p class="indented">
			<em>
				I thought: "You reach a moment in life when,
				among the people you have known, the dead outnumber
				the living. And the mind refuses to accept
				more faces, more expressions: on every new face you
				encounter, it prints the old forms, tor each one it
				finds the most suitable mask."
			</em>
		</p>
		<p class="indented">
			<em>
				The stevedores climbed the steps in a line, bent
				beneath demijohns and barrels; their faces were hidden
				by sackcloth hoods; "Now they will straighten
				up and I will recognize them," I thought, with impatience
				and fear. But I could not take my eyes off
				them; if I turned my gaze just a little toward the
				crowd that crammed those narrow streets, I was assailed
				by unexpected faces, reappearing from far
				away, staring at me as if demanding recognition, as
				if to recognize me, as if they had already recognized
				me. Perhaps, for each of them, I also resembled
				someone who was dead. I had barely arrived at
				Adelma and I was already one of them, I had gone
				over to their side, absorbed in that kaleidoscope of
				eyes, wrinkles, grimaces.
			</em>
		</p>
		<p class="indented">
			<em>
				I thought: "Perhaps Adelma is the city where you
				arrive dying and where each finds again the people he
				has known. This means I, too, am dead." And I also
				thought: "This means the beyond is not happy."
			</em>
		</p>
		<p class="indented" style="text-align:right;">
			<em>
			– Italo Calvino: Invisible Cities (p. 95)
			</em>
		</p>
		<p>
			I write and do a little math; I'll keep trying to do so.
			Don't be a <a href="mailto:pedalferrous@gmail.com">stranger</a>.
		</p>
	</div>
	<div class="nav">
		<a href="{% url 'base:index' %}">back</a>
	</div>
	<div class="footer">
		zane marius rossi 2016
	</div>
{% endblock %}