{% extends 'base/base.html' %}

{% block content %}
	<div class="heading">
		<h2><a href="{% url 'base:index' %}">< </a>about</h2>
	</div>
	<div class="info">
		<p>
			Student. 23. Previously at the University of Chicago, and currently studying quantum information and cryptography at MIT.
		</p>
		<p>
			I write and do math. Don't be a <a href="mailto:pedalferrous@gmail.com">stranger</a>.
		</p>
		<hr>
		<p>
			email: <a href="mailto:pedalferrous@gmail.com"> pedalferrous_[at]_gmail.com ></a>
		</p>
		<p>
			github: <a href="http://www.github.com/white-noise">github.com/white-noise ></a>
		</p>
		<p>
			linkedin: <a href="http://www.linkedin.com/in/zane-marius-rossi">linkedin.com/in/zane-rossi ></a>
		</p>
		<p>
			résumé: <a href="{% url 'base:cv' %}">link to current cv ></a>
		</p>
	</div>
	<div class="nav">
		<a href="{% url 'base:index' %}">back</a>
	</div>
{% endblock %}