{% extends 'base/base.html' %}

{% block content %}
	<div class="heading">
		<h2><a href="{% url 'base:index' %}">< </a>about</h2>
	</div>
	<div class="info">
		<p>
			Researcher. 28. University of Tokyo. Previously at MIT studying quantum information and algorithms, and before that at the University of Chicago studying mathematics and physics.
		</p>
		<p>
			This is my personal site; for my professional site, <a href="https://pedalferrous.github.io/">see here</a>!
		</p>
		<p>
			I write and do math. Don't be a <a href="mailto:pedalferrous@gmail.com">stranger</a>.
		</p>
		<hr>
		<p>
			email: <a href="mailto:pedalferrous@gmail.com"> pedalferrous_[at]_gmail.com ></a>
		</p>
		<p>
			github: <a href="http://www.github.com/white-noise">github.com/white-noise ></a>
		</p>
		<p>
			linkedin: <a href="http://www.linkedin.com/in/zane-marius-rossi">linkedin.com/in/zane-rossi ></a>
		</p>
		<p>
			résumé: <a href="{% url 'base:cv' %}">link to current cv ></a>
		</p>
	</div>
	<div class="nav">
		<a href="{% url 'base:index' %}">back</a>
	</div>
{% endblock %}
