{% extends 'base/base.html' %}

{% block content %}
	<div class="heading">
		<h2><a href="{% url 'base:about' %}">< </a>contact</h2>
	</div>
	<hr>
	<div class="info">
		<div class="contact">
			<a href="mailto:pedalferrous@gmail.com">email:</a><span style="padding-left:28px;color:#777;">&mdash; pedalferrous@gmail.com</span>
		</div>
		<div class="contact">
			<a href="http://www.github.com/white-noise">github:</a><span style="padding-left:21px;color:#777;">&mdash; github.com/white-noise</span>
		</div>
		<div class="contact">
			<a href="http://www.pedalferrous.tumblr.com">tumblr:</a><span style="padding-left:18px;color:#777;">&mdash; pedalferrous.tumblr.com</span>
		</div>
		<div class="contact">
			<a href="http://www.linkedin.com/in/zane-marius-rossi">linkedin:</a><span style="padding-left:10px;color:#777;">&mdash; linkedin.com/in/zane-rossi</span>
		</div>
		<div class="contact">
			<a href="#">resume:</a><span style="padding-left:12px;color:#777;">&mdash; link to resume/curriculum vitae</span>
		</div>
	</div>
	<div class="nav">
		<a href="{% url 'base:about' %}">back</a>
	</div>
	<div class="footer">
		zane marius rossi 2016
	</div>
{% endblock %}