{% extends 'base/base.html' %}

{% block content %}
	<div class="eig-main">
		<a href="#">
			<div class="eig-name-plate">
				the zane marius rossi homepage
			</div>
				<div class="eig-logo">					
			</div>
		</a>
		<hr class="eig-hr">
	</div>
	<div class="eig-nav-plate">
		<!-- most can be served with static templates, maybe a bio class -->
		<div class="eig-main-nav">
			<a href="{% url 'base:about' %}">about</a>
		</div>
		<div class="eig-main-nav">
			<a href="{% url 'produce:index' %}">work</a>
		</div>
		<div class="eig-main-nav">
			<a href="{% url 'status:index' %}">updates</a>
		</div>
		<div class="eig-main-nav">
			<a href="{% url 'library:index' %}">library</a>
		</div>		
	</div>
	<div class="eig-footer">
		zane marius rossi 2016 &mdash; art by mark ferrari
	</div>
{% endblock %}