/*zane marius rossi, 2016*/
/*to be used solely for landing page styling*/

html, body {
	background-color: black;
	color: #AAA;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

img {
	display: block;
	margin: auto;
}

a {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	color: #333;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #AAA;
}

hr {
	width: 500px;
}

::selection {
  background: #787; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #787; /* Gecko Browsers */
}

.wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.main-nav {
	text-align: center;
	display: inline-block;
	width: 23%;
}

.content {
	margin: auto;
	width: 500px;
}

.name-plate {
	padding-bottom:0px; 
	position: relative;
	left: 0px;
	text-align: left;
	font-size: 20px;
}

.eig-hr {
	width: 500px;
	border-color: #333;
	color: #333;
}

.eig-main {
	padding-top: 200px;
	width: 500px;
	margin: auto;
}

.logo {
	width: 500px;
	height: 240px;
	background-image: url("../img/eig.gif");
	background-repeat: no-repeat;
}

.logo:hover {
}

.nav-plate {
	margin: auto;
	width: 500px;
	font-size: 20px;
}

.footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 10px;
	color: #333;
}