/* zane marius rossi, 2016-18 */
/* for main django application */

html, body {
	background-color: black;
	color: #AAA;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

img {
	display: block;
	margin: auto;
}

a {
	color: #8cc05f;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #e7f2de;
}

li {
	padding-bottom: 0.5em;
	list-style: none;
}

span {
	color: #444;
}

span:hover {
	color: #AAA;
}

hr {
	border-color: #8cc05f;
	color: #8cc05f;
	width: 500px;
}

::selection {
  background: #19250f;
}
::-moz-selection {
  background: #19250f;
}

.eig-main-nav {
	text-align: center;
	display: inline-block;
	width: 23%;
}

.eig-name-plate {
	padding-bottom:0px; 
	position: relative;
	left: 0px;
	text-align: left;
	font-size: 20px;
}

.eig-hr {
	width: 500px;
}

.eig-main {
	padding-top: 100px;
	width: 500px;
	margin: auto;
}

.eig-logo {
	width: 500px;
	height: 475px;
	margin-top: 1em;
	margin-bottom: 1.5em;
	background-image: url("../img/forest.gif");
	background-repeat: no-repeat;
}

.eig-nav-plate {
	margin: auto;
	width: 500px;
	font-size: 20px;
}

.eig-footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 10px;
	color: #444;
}

.wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.content {
	margin: auto;
	width: 500px;
}

.heading {
	color:#AAA;
	padding-top: 200px;
	width: 500px;
	display: block;
	margin: auto;
}

.sub-heading {
	color:#AAA;
	display: block;
	margin: auto;
	width: 500px;
}

.arrow_nav {
	width: 500px;
}

.arrow_nav_l {
	float: left;
}

.arrow_nav_r {
	float: right;
}

.page_num {
	color: #444 !important;
	padding-left: 50px;
}

.info {
	color: #AAA;
	margin: auto;
	width: 480px;
	text-align: left;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	padding-left: 20px;
}

.nav-plate {
	margin: auto;
	width: 500px;
}

.nav {
	padding-top: 10px;
	padding-bottom: 50px;
	margin: auto;
	text-align: center;
}

.dual-nav {
	display: inline-block;
	width: 240px;
	padding-bottom: 50px;
	margin: auto;
	text-align: center;
}

.footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 10px;
	color: #444;
}

.float_title {
	color: #AAA !important;
	padding-bottom: 0.5em;
}

.float_title > a {
	color: #AAA !important;
}

.float_text {
	padding-top: 0.5em;
	width: 300px;
	float: left;
}

.float_date {
	float: right;
}

.citations {
	padding-left: 20px;
}

.info_text {
	padding-bottom: 0.5em;
}

.info_text_dark {
	color: #444 !important;
	padding-bottom: 0.5em;
}

.info_date {
	padding-bottom: 0.5em;
}

.info_img {
	width: 480px;
	margin: 0;
}

.indented {
	padding-left: 50px;
}

.indented > .info {
	width: 430px;
}

.ht_img {
	margin-left: 50%;
	transform: translateX(-50%);
	padding-bottom: 1em;
}

.ht_info_text {
	padding-bottom: 1em;
}

.progSpan {
  cursor: pointer;
  color: #555;
}

.progSpan a {
	font-weight: bold;
	color: #600;
}

.choice {
	font-weight: bold;
	color: #600;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.l_status {
  color: #74b0f8;
}

.t_status {
  color: #f87a74;
}

.n_status {
  color: #8cc05f;
}

/*.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}*/