/* zane marius rossi, 2016-18 */
/* for main django application */

html, body {
	background-color: black;
	color: #AAA;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

html, body {
	background-color: black;
	color: #777;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

.eig-main-nav {
	text-align: center;
	display: inline-block;
	width: 23%;
}

.content {
	margin: auto;
	width: 500px;
}

.eig-name-plate {
	padding-bottom:0px; 
	position: relative;
	left: 0px;
	text-align: left;
	font-size: 20px;
}

.eig-hr {
	width: 500px;
	border-color: #333;
	color: #333;
}

.eig-main {
	padding-top: 200px;
	width: 500px;
	margin: auto;
}

.eig-logo {
	width: 500px;
	height: 240px;
	background-image: url("../img/eig.gif");
	background-repeat: no-repeat;
}

.eig-logo:hover {
}

.eig-nav-plate {
	margin: auto;
	width: 500px;
	font-size: 20px;
}

.eig-footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 10px;
	color: #333;
}

img {
	display: block;
	margin: auto;
}

a {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	color: #333;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #777;
}

.style-link {
	cursor:pointer;
}

.style-link:hover {
	cursor:pointer;
}

li {
	padding-bottom: 0.5em;
	list-style: none;
}

/*for highlighting of section titles in updates*/
span:hover a{
	color:#363;
}

/*remove green highlight on mouseover*/
span a:hover{
	color:#777;
}

span {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	color: #333;
	cursor: pointer;
}

span:hover {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	color: #777;
}

hr {
	border-color: #333;
	color: #333;
	width: 500px;
}

::selection {
  background: #787; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #787; /* Gecko Browsers */
}

.wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.content {
	margin: auto;
	width: 500px;
}

/*for writing page list background*/
.writing {

}

/*no spacing in non-mobile*/
.writing li {
	padding-bottom: 0px;
}

/*for zmr page background*/
.zmr {
	width:500px;
	height: 100px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.heading {
	color:#AAA;
	padding-top: 200px;
	width: 500px;
	display: block;
	margin: auto;
}

.sub-heading {
	color:#AAA;
	display: block;
	margin: auto;
	width: 500px;
}

.arrow_nav {
	width: 500px;
}

.arrow_nav_l {
	float: left;
}

.arrow_nav_r {
	float: right;
}

.page_num {
	padding-left: 50px;
}


.info {
	color: #777;
	margin: auto;
	width: 500px;
	text-align: left;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	padding-left: 20px;
}

.info > .float_text > li {
	list-style: none;
}

.nav-plate {
	margin: auto;
	width: 500px;
}

.nav {
	padding-top: 10px;
	padding-bottom: 50px;
	margin: auto;
	text-align: center;
}

.dual-nav {
	display: inline-block;
	width: 240px;
	padding-bottom: 50px;
	margin: auto;
	text-align: center;
}

.footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 10px;
	color: #333;
}

.float_title {
	color: #777 !important;
	padding-bottom: 0.5em;
}

.float_text {
	width: 350px;
	float: left;
}

.float_date {
	float: right;
}

.citations {
	padding-left: 20px;
	padding-top: 0.5em;
}

.info_text {
	padding-bottom: 0.5em;
}

.info_date {
	padding-bottom: 0.5em;
}